@model BusinessObjectLayer.Data.Employee
@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4 " style="font-size:230px; font-weight:lighter; color:black;  text-shadow: 2px 2px black ">EMTYAZ</h1>
    <p class="m-4 py-3"> To Register New Employee, Please press next command: </p>
    <a asp-area="" asp-controller="Employee" asp-action="Create">Create New Employee</a>
</div>
