@model BusinessObjectLayer.Data.Employee

@{
    ViewData["Title"] = "Details";
}
<link href="~/css/fontawsome/webfonts/all.css" />

<div class="alert alert-success d-flex align-items-center" role="alert">
    <svg class="bi flex-shrink-0 me-2" width="24" height="24" role="img" aria-label="Success:"><use xlink:href="#check-circle-fill" /></svg>
    <div>
        <i class="fa-solid fa-sitemap"></i> Thanks for submitting
    </div>
</div>
    <a asp-action="Index">Back to Evaluation</a>
